body {
    background-color: #E0FFFF;
}
h1{
    margin-left:20px;
    margin-top: 20px;
    font-family: "Verdana", sans-serif;
    color: #008080; 
    text-align: justify;
}
 p{
    font-family: "Verdana", sans-serif;
    color: #008080; 
    text-align: justify;
}
p.blocotext1, p.blocotext2, h2, p.blocotext3, form.upload {
    margin-left: 25px;
    margin-right: 50px;
    width: 1000px;
}
img.logo {
    display: block;
    margin-top: 0;
    margin-left: 500px;
    margin-right: 500px; 
}
img.usuario {
    margin-top: 50px;
    margin-left: 25px; 
}
p.nomeusuario {
    color: black;
    margin-left: 25px;
    padding: 5px 5px 5px 5px;
    background-color: aquamarine;
}
p.publicacao {
    background-color: white;
    padding: 25px 10px 60px;
    border-left: 7px solid rgb(21, 99, 122); 
    margin-left: 125px;
    margin-top: -120px;
    margin-bottom: 90px;  
}
.btnSup {
    margin-left: 1200px;
    margin-top: 15px;
    background: #48D1CC;
    color: white;
    border-radius: 20px;
    border-color: #48D1CC;
    height: 25px;
    width: 105px;
    text-shadow: none;
}
.btnEnviar {
    background: #48D1CC;
    color: white;
    border-radius: 20px;
    border-color: #48D1CC;
    height: 25px;
    width: 105px;
    text-shadow: none;
}
.btnVoltar {
    margin-left: 1200px;
    margin-top: 10px;
    background: #48D1CC;
    color: white;
    border-radius: 20px;
    border-color: #48D1CC;
    height: 25px;
    width: 105px;
    text-shadow: none;
}